swagger: '2.0'
info:
  version: 1.2.3
  title: Fleet API Specifications Custom fields API
  x-logo:
    url: logo.svg
  description: "# Introduction\nThe Avrios Fleet-API allows syncing fleet data with our system. The provided API allows you to persist, update, delete and query various entities. Refer to the current [Release Notes](release-notes.html) for relevant changes in the API. \n# Access and usage\n## Authorization\nIn order to use the API a basic auth header must be set on each request: `Authorization: Basic {base64 of username:password}`.\n## Rate limiting\nRequests are limited to 300 requests per minute.\n## Response objects \nIn all API responses, only populated fields will be returned - `null` fields are stripped from the response object.\n## Update endpoints\nWhen updating existing entities, unless otherwise specified we will only update properties sent in the request, and all properties are optional. Clearing a property can be performed by explicitly sending `null`.\n## Date interpretation \nFor consistency with the Avrios UI, some APIs accept dates in the format `yyyy-MM-dd` rather than timestamps. If these are used for filtering or business logic, they will be interpreted as the first second of the day in the company timezone (e.g. `2020-01-01` in CET becomes `2019-12-31T23:00:00Z)`."
host: api.avrios.com
schemes:
- https
tags:
- name: Custom fields
paths:
  /v1/customFields/drivers:
    get:
      tags:
      - Custom fields
      summary: GET all driver custom fields
      description: Return all the custom fields (user-defined fields) associated with drivers. New custom fields can be defined for drivers through the Avrios UI.
      operationId: getDriverCustomFields
      produces:
      - application/json
      responses:
        '200':
          description: Successful operation.
          schema:
            type: array
            items:
              $ref: '#/definitions/CustomFieldDto'
  /v1/customFields/vehicles:
    get:
      tags:
      - Custom fields
      summary: GET all vehicle custom fields
      description: Return all the custom fields (user-defined fields) associated with vehicles. New custom fields can be defined for vehicles through the Avrios UI.
      operationId: getVehicleCustomFields
      produces:
      - application/json
      responses:
        '200':
          description: Successful operation.
          schema:
            type: array
            items:
              $ref: '#/definitions/CustomFieldDto'
definitions:
  CustomFieldDto:
    type: object
    properties:
      uuid:
        type: string
        format: uuid
      name:
        type: string
      identifier:
        type: string
      type:
        type: string
        enum:
        - TEXT
        - DATE
        - BOOLEAN
        - INTEGER
        - DECIMAL
        - MONETARY_AMOUNT
      category:
        $ref: '#/definitions/CustomFieldCategoryDto'
  CustomFieldCategoryDto:
    type: object
    properties:
      uuid:
        type: string
        format: uuid
      name:
        type: string
x-tagGroups:
- name: Vehicles
  tags:
  - Vehicles
  - Vehicle license plates
  - Vehicle assignments
  - Vehicle usages
  - Vehicle custom fields
  - Vehicle financing
- name: Drivers
  tags:
  - Drivers
  - Driver assignments
  - Driver custom fields
- name: Other
  tags:
  - Custom fields
  - Invoices
  - Organizations
