openapi: 3.2.0
info:
  version: 1.2.3
  title: Fleet API Specifications Organizations API
  x-logo:
    url: logo.svg
  description: '# Introduction

    The Avrios Fleet-API allows syncing fleet data with our system.'
servers:
- url: https://api.avrios.com
tags:
- name: Organizations
paths:
  /v1/organizations:
    get:
      tags:
      - Organizations
      summary: GET all organizations paged
      description: Access paged organizations.
      operationId: getAllOrganizations
      parameters:
      - name: limit
        in: query
        description: Number of items in a page
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
      - name: pageNumber
        in: query
        description: Number of the page
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sortBy
        in: query
        description: Sorting key
        required: false
        schema:
          type: string
          enum:
          - uuid
          - parentOrganization
          - name
      - name: reverse
        in: query
        description: Sorting order
        required: false
        schema:
          type: boolean
          enum:
          - 'false'
          - 'true'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPageOrganizationDto'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
components:
  schemas:
    ApiPageOrganizationDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationDto'
        page:
          $ref: '#/components/schemas/ApiPageInformation'
        totalItems:
          type: integer
          format: int64
    ApiPageInformation:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
    OrganizationDto:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        parentOrganization:
          type: string
          format: uuid
        name:
          type: string
x-tagGroups:
- name: Vehicles
  tags:
  - Vehicles
  - Vehicle license plates
  - Vehicle assignments
  - Vehicle usages
  - Vehicle custom fields
  - Vehicle financing
- name: Drivers
  tags:
  - Drivers
  - Driver assignments
  - Driver custom fields
- name: Other
  tags:
  - Custom fields
  - Invoices
  - Organizations
