openapi: 3.2.0
info:
  version: 1.2.3
  title: Fleet API Specifications Driver assignments API
  x-logo:
    url: logo.svg
  description: '# Introduction

    The Avrios Fleet-API allows syncing fleet data with our system.'
servers:
- url: https://api.avrios.com
tags:
- name: Driver assignments
paths:
  /v1/drivers/{uuid}/assignments:
    get:
      tags:
      - Driver assignments
      summary: GET driver assignments
      description: Get all vehicle assignments of a specific driver.
      operationId: findDriverAssignments
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        description: Number of items in a page
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
      - name: pageNumber
        in: query
        description: Number of the page
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sortBy
        in: query
        description: Sorting key
        required: false
        schema:
          type: string
          enum:
          - uuid
          - vehicleUuid
          - driverUuid
          - duration_startDate
          - duration_endDate
          - active
      - name: reverse
        in: query
        description: Sorting order
        required: false
        schema:
          type: boolean
          enum:
          - 'false'
          - 'true'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPageAssignmentDto'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
        '404':
          description: Driver not found.
    post:
      tags:
      - Driver assignments
      summary: ASSIGN a specified vehicle to this driver
      description: Assign a vehicle (specified in the request body) to the driver under this url.
      operationId: createDriverAssignment
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentDto'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
        '404':
          description: Driver or vehicle not found.
        '409':
          description: The new assignment is conflicted with one or multiple ones. The conflicting assignments will be returned in an error response.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssignmentByDriverRequest'
  /v1/drivers/{uuid}/assignments/query:
    post:
      tags:
      - Driver assignments
      summary: QUERY driver assignments
      description: Query vehicle assignments of a specific driver.
      operationId: queryDriverAssignments
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        description: Number of items in a page
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
      - name: pageNumber
        in: query
        description: Number of the page
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sortBy
        in: query
        description: Sorting key
        required: false
        schema:
          type: string
          enum:
          - uuid
          - vehicleUuid
          - driverUuid
          - duration_startDate
          - duration_endDate
          - active
      - name: reverse
        in: query
        description: Sorting order
        required: false
        schema:
          type: boolean
          enum:
          - 'false'
          - 'true'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPageAssignmentDto'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
        '404':
          description: Driver not found.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverAssignmentQueryApiParams'
  /v1/drivers/{uuid}/assignments/{assignmentUuid}:
    delete:
      tags:
      - Driver assignments
      summary: DELETE driver assignment
      description: Delete vehicle to driver assignment identified by uuid path parameter.
      operationId: deleteDriverAssignment
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: assignmentUuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '204':
          description: Successful operation - no content is expected.
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
        '404':
          description: Driver not found or this assignment was not found for this driver.
  /v1/drivers/{uuid}/assignments/{assignmentUuid}/duration:
    post:
      tags:
      - Driver assignments
      summary: UPDATE the duration of an existing assignment
      description: Change the timing of a specific assignment. Body is a map of fields to update.
      operationId: updateDriverAssignment
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: assignmentUuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentDto'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
        '404':
          description: Driver or assignment not found.
        '409':
          description: The new assignment timing conflicts with one or multiple ones. The conflicting assignments will be returned in an error response.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DurationUpdateApiParams'
components:
  schemas:
    DurationDto:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
    Void:
      type: object
    DurationUpdateApiParams:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
    CreateAssignmentByDriverRequest:
      type: object
      properties:
        vehicleUuid:
          type: string
          format: uuid
        duration:
          $ref: '#/components/schemas/DurationDto'
    AssignmentDto:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        vehicleUuid:
          type: string
          format: uuid
        driverUuid:
          type: string
          format: uuid
        duration:
          $ref: '#/components/schemas/DurationDto'
        active:
          type: boolean
    DriverAssignmentQueryApiParams:
      type: object
      properties:
        vehicleUuid:
          type: string
          format: uuid
        when:
          description: Date range assignments active within. Cannot have a value when `starting` or `ending` have a value.
          $ref: '#/components/schemas/InstantRangeApiParams'
        starting:
          $ref: '#/components/schemas/InstantRangeApiParams'
        ending:
          $ref: '#/components/schemas/InstantRangeApiParams'
    ApiPageAssignmentDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AssignmentDto'
        page:
          $ref: '#/components/schemas/ApiPageInformation'
        totalItems:
          type: integer
          format: int64
    ApiPageInformation:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
    InstantRangeApiParams:
      type: object
      properties:
        atOrAfter:
          type: string
          format: date-time
        before:
          type: string
          format: date-time
x-tagGroups:
- name: Vehicles
  tags:
  - Vehicles
  - Vehicle license plates
  - Vehicle assignments
  - Vehicle usages
  - Vehicle custom fields
  - Vehicle financing
- name: Drivers
  tags:
  - Drivers
  - Driver assignments
  - Driver custom fields
- name: Other
  tags:
  - Custom fields
  - Invoices
  - Organizations
