openapi: 3.2.0
info:
  version: 1.2.3
  title: Fleet API Specifications Vehicle usages API
  x-logo:
    url: logo.svg
  description: '# Introduction

    The Avrios Fleet-API allows syncing fleet data with our system.'
servers:
- url: https://api.avrios.com
tags:
- name: Vehicle usages
paths:
  /v1/vehicles/{uuid}/usages:
    get:
      tags:
      - Vehicle usages
      summary: GET vehicle usage
      description: Get all vehicle usage records, paginated.
      operationId: findVehicleUsage
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        description: Number of items in a page
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
      - name: pageNumber
        in: query
        description: Number of the page
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sortBy
        in: query
        description: Sorting key
        required: false
        schema:
          type: string
          enum:
          - uuid
          - source
          - date
          - current
          - usage
          - state
          - usageType
      - name: reverse
        in: query
        description: Sorting order
        required: false
        schema:
          type: boolean
          enum:
          - 'false'
          - 'true'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPageUsageDto'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
        '404':
          description: Vehicle not found.
    post:
      tags:
      - Vehicle usages
      summary: CREATE a new vehicle usage entry
      description: Adds a new usage entry for the given vehicle. This will be validated and added to the vehicle's usage history asynchronously. The entry will appear in the history with usageSource == MANUAL_FLEET_MANAGER. Distance values must be provided in kilometres.
      operationId: createVehicleUsage
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleManualUsageDto'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleUsageCreationApiRequest'
components:
  schemas:
    VehicleUsageCreationApiRequest:
      type: object
      properties:
        usageType:
          type: string
          enum:
          - DISTANCE
          - OPERATING_HOURS
        usageValue:
          type: number
        date:
          type: string
          format: date-time
    VehicleManualUsageDto:
      type: object
      properties:
        usageType:
          type: string
          enum:
          - DISTANCE
          - OPERATING_HOURS
        usageValue:
          type: number
        date:
          type: string
          format: date-time
        vehicleUuid:
          type: string
          format: uuid
    ApiPageInformation:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
    ApiPageUsageDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/UsageDto'
        page:
          $ref: '#/components/schemas/ApiPageInformation'
        totalItems:
          type: integer
          format: int64
    UsageDto:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        source:
          type: string
          enum:
          - MANUAL_DRIVER
          - MANUAL_FLEET_MANAGER
          - INVOICE
          - FUEL_PURCHASE
          - TELEMATICS
          - VEHICLE_CHECK
        date:
          type: string
          format: date-time
        current:
          type: boolean
        usage:
          type: number
        state:
          type: string
          enum:
          - ACCEPTED
          - NOT_ACCEPTED
        usageType:
          type: string
          enum:
          - DISTANCE
          - OPERATING_HOURS
x-tagGroups:
- name: Vehicles
  tags:
  - Vehicles
  - Vehicle license plates
  - Vehicle assignments
  - Vehicle usages
  - Vehicle custom fields
  - Vehicle financing
- name: Drivers
  tags:
  - Drivers
  - Driver assignments
  - Driver custom fields
- name: Other
  tags:
  - Custom fields
  - Invoices
  - Organizations
