openapi: 3.2.0
info:
  version: 1.2.3
  title: Fleet API Specifications Custom fields API
  x-logo:
    url: logo.svg
  description: '# Introduction

    The Avrios Fleet-API allows syncing fleet data with our system.'
servers:
- url: https://api.avrios.com
tags:
- name: Custom Fields
paths:
  /v1/customFields/drivers:
    get:
      tags:
      - Custom Fields
      summary: GET all driver custom fields
      description: Return all the custom fields (user-defined fields) associated with drivers. New custom fields can be defined for drivers through the Avrios UI.
      operationId: getDriverCustomFields
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomFieldDto'
  /v1/customFields/vehicles:
    get:
      tags:
      - Custom Fields
      summary: GET all vehicle custom fields
      description: Return all the custom fields (user-defined fields) associated with vehicles. New custom fields can be defined for vehicles through the Avrios UI.
      operationId: getVehicleCustomFields
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomFieldDto'
components:
  schemas:
    CustomFieldCategoryDto:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        name:
          type: string
    CustomFieldDto:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        name:
          type: string
        identifier:
          type: string
        type:
          type: string
          enum:
          - TEXT
          - DATE
          - BOOLEAN
          - INTEGER
          - DECIMAL
          - MONETARY_AMOUNT
        category:
          $ref: '#/components/schemas/CustomFieldCategoryDto'
x-tagGroups:
- name: Vehicles
  tags:
  - Vehicles
  - Vehicle license plates
  - Vehicle assignments
  - Vehicle usages
  - Vehicle custom fields
  - Vehicle financing
- name: Drivers
  tags:
  - Drivers
  - Driver assignments
  - Driver custom fields
- name: Other
  tags:
  - Custom fields
  - Invoices
  - Organizations
