openapi: 3.2.0
info:
  version: 1.2.3
  title: Fleet API Specifications Vehicle license plates API
  x-logo:
    url: logo.svg
  description: '# Introduction

    The Avrios Fleet-API allows syncing fleet data with our system.'
servers:
- url: https://api.avrios.com
tags:
- name: Vehicle license plates
paths:
  /v1/vehicles/{uuid}/licensePlates:
    get:
      tags:
      - Vehicle license plates
      summary: GET vehicle license plates
      description: Get all license plates over time of a specific vehicle.
      operationId: findVehicleLicensePlates
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        description: Number of items in a page
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
      - name: pageNumber
        in: query
        description: Number of the page
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sortBy
        in: query
        description: Sorting key
        required: false
        schema:
          type: string
          enum:
          - uuid
          - plate
          - duration_startDate
          - duration_endDate
          - active
      - name: reverse
        in: query
        description: Sorting order
        required: false
        schema:
          type: boolean
          enum:
          - 'false'
          - 'true'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPageLicensePlateDto'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
        '404':
          description: Vehicle not found.
    post:
      tags:
      - Vehicle license plates
      summary: ASSIGN a license plate to this vehicle
      description: Assign a license plate (specified in the request body) to the vehicle under this url.
      operationId: createVehicleLicensePlates
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensePlateDto'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
        '404':
          description: Vehicle not found.
        '409':
          description: The new license plate conflicts with one or more others. The conflicting license plates will be returned in an error response.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLicensePlateRequest'
  /v1/vehicles/{uuid}/licensePlates/{licensePlateUuid}:
    delete:
      tags:
      - Vehicle license plates
      summary: DELETE vehicle license plate
      description: Delete license plate identified by uuid path parameter from vehicle.
      operationId: deleteVehicleLicensePlates
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: licensePlateUuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        '204':
          description: Successful operation - no content is expected.
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
        '404':
          description: Vehicle not found or this license plate was not found for this vehicle.
  /v1/vehicles/{uuid}/licensePlates/{licensePlateUuid}/duration:
    post:
      tags:
      - Vehicle license plates
      summary: UPDATE the duration of an existing license plate
      description: Change the timing of a specific license plate. Body is a map of fields to update.
      operationId: updateVehicleLicensePlates
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: licensePlateUuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensePlateDto'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
        '404':
          description: Vehicle or assignment not found.
        '409':
          description: The new license plate timing conflicts with one or multiple others. The conflicting license plates will be returned in an error response.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DurationUpdateApiParams'
components:
  schemas:
    DurationDto:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
    LicensePlateDto:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        plate:
          type: string
        duration:
          $ref: '#/components/schemas/DurationDto'
        active:
          type: boolean
    Void:
      type: object
    DurationUpdateApiParams:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
    ApiPageLicensePlateDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/LicensePlateDto'
        page:
          $ref: '#/components/schemas/ApiPageInformation'
        totalItems:
          type: integer
          format: int64
    CreateLicensePlateRequest:
      type: object
      properties:
        plate:
          type: string
        duration:
          $ref: '#/components/schemas/DurationDto'
    ApiPageInformation:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
x-tagGroups:
- name: Vehicles
  tags:
  - Vehicles
  - Vehicle license plates
  - Vehicle assignments
  - Vehicle usages
  - Vehicle custom fields
  - Vehicle financing
- name: Drivers
  tags:
  - Drivers
  - Driver assignments
  - Driver custom fields
- name: Other
  tags:
  - Custom fields
  - Invoices
  - Organizations
