openapi: 3.2.0
info:
  version: 1.2.3
  title: Fleet API Specifications Invoices API
  x-logo:
    url: logo.svg
  description: '# Introduction

    The Avrios Fleet-API allows syncing fleet data with our system.'
servers:
- url: https://api.avrios.com
tags:
- name: Invoices
paths:
  /v1/invoices:
    get:
      tags:
      - Invoices
      summary: GET paginated invoices
      description: Access pages of invoices.
      operationId: getAllInvoices
      parameters:
      - name: limit
        in: query
        description: Number of items in a page
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
      - name: pageNumber
        in: query
        description: Number of the page
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sortBy
        in: query
        description: Sorting key
        required: false
        schema:
          type: string
          enum:
          - uuid
          - state
          - invoiceDate
          - releaseDate
          - supplier
          - invoiceNumber
          - net
          - gross
          - currency
      - name: reverse
        in: query
        description: Sorting order
        required: false
        schema:
          type: boolean
          enum:
          - 'false'
          - 'true'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPageInvoiceExternalDto'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
  /v1/invoices/query:
    post:
      tags:
      - Invoices
      summary: QUERY paginated invoices
      description: Query invoices based on specific criteria. The result is paginated
      operationId: queryInvoices
      parameters:
      - name: limit
        in: query
        description: Number of items in a page
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
      - name: pageNumber
        in: query
        description: Number of the page
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sortBy
        in: query
        description: Sorting key
        required: false
        schema:
          type: string
          enum:
          - uuid
          - state
          - invoiceDate
          - releaseDate
          - supplier
          - invoiceNumber
          - net
          - gross
          - currency
      - name: reverse
        in: query
        description: Sorting order
        required: false
        schema:
          type: boolean
          enum:
          - 'false'
          - 'true'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPageInvoiceExternalDto'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceQueryApiParams'
  /v1/invoices/{invoiceUuid}/items:
    get:
      tags:
      - Invoices
      summary: GET paginated invoice items
      description: Access pages of invoice items.
      operationId: getAllInvoicesItems
      parameters:
      - name: invoiceUuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        description: Number of items in a page
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
      - name: pageNumber
        in: query
        description: Number of the page
        required: false
        schema:
          type: integer
          minimum: 1
      - name: sortBy
        in: query
        description: Sorting key
        required: false
        schema:
          type: string
          enum:
          - uuid
          - transactionTime
          - quantity
          - net
          - gross
          - vatPercentage
      - name: reverse
        in: query
        description: Sorting order
        required: false
        schema:
          type: boolean
          enum:
          - 'false'
          - 'true'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPageInvoiceItemDto'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
  /v1/invoices/{invoiceUuid}/rawFile:
    get:
      tags:
      - Invoices
      summary: GET invoice raw file upload
      description: ''
      operationId: getInvoiceRawFileUpload
      parameters:
      - name: invoiceUuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation.
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/Void'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
        '404':
          description: Invoice file upload not found.
components:
  schemas:
    DateRangeApiParams:
      type: object
      properties:
        onOrAfter:
          type: string
          format: date
        before:
          type: string
          format: date
    Void:
      type: object
    InvoiceQueryApiParams:
      type: object
      properties:
        invoiceNumber:
          type: string
        supplier:
          type: string
        invoiceDate:
          $ref: '#/components/schemas/DateRangeApiParams'
        releaseDate:
          $ref: '#/components/schemas/InstantRangeApiParams'
    InvoiceExternalDto:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        state:
          type: string
          enum:
          - IN_PROGRESS
          - IMPORTED_WITH_ERRORS
          - IMPORTED
          - RELEASED
          - FAILED
        invoiceDate:
          type: string
          format: date
        releaseDate:
          type: string
          format: date-time
        supplier:
          type: string
        invoiceNumber:
          type: string
        net:
          type: number
        gross:
          type: number
        currency:
          type: string
          description: ISO 4217 alphabetic currency code
    ApiPageInformation:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
    ApiPageInvoiceExternalDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceExternalDto'
        page:
          $ref: '#/components/schemas/ApiPageInformation'
        totalItems:
          type: integer
          format: int64
    ApiPageInvoiceItemDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItemDto'
        page:
          $ref: '#/components/schemas/ApiPageInformation'
        totalItems:
          type: integer
          format: int64
    InstantRangeApiParams:
      type: object
      properties:
        atOrAfter:
          type: string
          format: date-time
        before:
          type: string
          format: date-time
    InvoiceItemDto:
      type: object
      discriminator:
        propertyName: itemType
      properties:
        uuid:
          type: string
          format: uuid
        itemType:
          type: string
          description: Pick the expected item type to display the respective attributes (This field is only used for ui documentation purpose).
          readOnly: true
        transactionTime:
          type: string
          format: date-time
        description:
          type: string
        costType:
          type: string
        costGroup:
          type: string
        productDescription:
          type: string
        vehicleUuid:
          type: string
          format: uuid
          description: The vehicle this invoice item relates to. Set when the item is booked directly on a vehicle or on a damage of a vehicle.
        driverUuid:
          type: string
          format: uuid
        quantity:
          type: number
        quantityUnit:
          type: string
          description: The units the quantity of this item is given in. "PCE" is pieces and so is the raw quantity of items. "LABOUR_VALUE" is for any labour costs. "KWH" is kilowatt-hours.
          enum:
          - LITER
          - US_GALLON
          - UK_GALLON
          - PCE
          - KG
          - HOUR
          - LABOR_VALUE
          - KWH
        vatPercentage:
          type: number
        net:
          type: number
        gross:
          type: number
        currency:
          type: string
          description: ISO 4217 alphabetic currency code
        invoiceType:
          type: string
          enum:
          - FUEL
          - OTHER
x-tagGroups:
- name: Vehicles
  tags:
  - Vehicles
  - Vehicle license plates
  - Vehicle assignments
  - Vehicle usages
  - Vehicle custom fields
  - Vehicle financing
- name: Drivers
  tags:
  - Drivers
  - Driver assignments
  - Driver custom fields
- name: Other
  tags:
  - Custom fields
  - Invoices
  - Organizations
