openapi: 3.2.0
info:
  version: 1.2.3
  title: Fleet API Specifications Vehicle financing API
  x-logo:
    url: logo.svg
  description: '# Introduction

    The Avrios Fleet-API allows syncing fleet data with our system.'
servers:
- url: https://api.avrios.com
tags:
- name: Vehicle financing
paths:
  /v1/vehicles/{uuid}/financing/current:
    get:
      tags:
      - Vehicle financing
      summary: GET current financing contract
      description: Get the current financing contract of the specified vehicle.
      operationId: getVehicleCurrentFinancing
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancingDto'
        '400':
          description: Bad request - information on the invalid fields will be provided in the response body
        '404':
          description: Vehicle not found.
components:
  schemas:
    AmountWithTaxExternalDto:
      type: object
      properties:
        amountNet:
          type: number
        amountGross:
          type: number
        taxPercent:
          type: number
        taxAmount:
          type: number
    FinancingDto:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        financingType:
          type: string
          enum:
          - LEASING
          - LONG_TERM_RENTAL_LEASING
          - CREDIT
          - PURCHASE
          - LONG_TERM_RENTAL
        supplier:
          type: string
        contractNumber:
          type: string
        duration:
          $ref: '#/components/schemas/DurationDto'
        monthlyFeeWithTax:
          $ref: '#/components/schemas/AmountWithTaxExternalDto'
        purchasePriceWithTax:
          $ref: '#/components/schemas/AmountWithTaxExternalDto'
        currencyUnit:
          type: string
          description: ISO 4217 alphabetic currency code
    DurationDto:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
x-tagGroups:
- name: Vehicles
  tags:
  - Vehicles
  - Vehicle license plates
  - Vehicle assignments
  - Vehicle usages
  - Vehicle custom fields
  - Vehicle financing
- name: Drivers
  tags:
  - Drivers
  - Driver assignments
  - Driver custom fields
- name: Other
  tags:
  - Custom fields
  - Invoices
  - Organizations
